<script type="text/babel" src="../static/src/test01.js"></script>
<script type="text/babel" src="../static/src/test02.js"></script>
<script type="text/babel" src="../static/src/test03.js"></script>
<script type="text/babel" src="../static/src/test04.js"></script>
<script type="text/babel" src="../static/src/test05.js"></script>
<script type="text/babel" src="../static/src/test06.js"></script>
<script type="text/babel" src="../static/src/test07.js"></script>
<script type="text/babel" src="../static/src/test08.js"></script>
<script type="text/babel" src="../static/src/test09.js"></script>
<script type="text/babel" src="../static/src/test10.js"></script>
<script type="text/babel" src="../static/src/test11.js"></script>
<script type="text/babel" src="../static/src/test12.js"></script>
<script type="text/babel" src="../static/src/test13.js"></script>
<script type="text/babel" src="../static/src/test14.js"></script>
<script type="text/babel" src="../static/src/test15.js"></script>
<script type="text/babel" src="../static/src/test16.js"></script>
<script type="text/babel" src="../static/src/test17.js"></script>
<script type="text/babel" src="../static/src/test18.js"></script>
<script type="text/babel" src="../static/src/test19.js"></script>
<script type="text/babel" src="../static/src/test20.js"></script>
<script type="text/babel" src="../static/src/test21.js"></script>
<script type="text/babel" src="../static/src/test22.js"></script>

<div class="row">
  <div id="test01" class="col-md-3"></div>

  <div id="test02" class="col-md-3"></div>

  <div id="test03" class="col-md-3"></div>

  <div id="test04" class="col-md-3"></div>

  <div id="test05" class="col-md-3"></div>

  <div id="test06" class="col-md-3"></div>

  <div id="test07" class="col-md-3"></div>

  <div id="test08" class="col-md-3"></div>

  <div id="test09" class="col-md-3"></div>
  <div id="test10" class="col-md-3"></div>
  <div id="test11" class="col-md-3"></div>
  <div id="test12" class="col-md-3"></div>
  <div id="test13" class="col-md-3"></div>
  <div id="test14" class="col-md-3"></div>
  <div id="test15" class="col-md-3"></div>
  <div id="test16" class="col-md-3"></div>
  <div id="test17" class="col-md-3"></div>
  <div id="test18" class="col-md-3"></div>
  <div id="test19" class="col-md-3"></div>
  <div id="test20" class="col-md-3"></div>
  <div id="test21" class="col-md-3"></div>
  <div id="test22" class="col-md-3"></div>

</div>

<!--
  <div>
    <script type="text/javascript" src="../static/src/test01.js"></script>
  <canvas id="mycanvas01" width="150" height="150" style="border: solid 1px">
</div>
<div>
  <canvas id="mycanvas02" width="150" height="200" style="border: solid 1px">
</div>
<div>
  <canvas id="mycanvas03" width="568" height="262" style="border: solid 1px">
</div>
<div>
  <canvas id="mycanvas04" width="568" height="262" style="border: solid 1px">
</div>

-->